.movie-list-page {
  color: #fff;
  padding: 15px;
  height: 100%;
  overflow: auto;
  .movie-info-item {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    display: inline-flex;
    height: 150px;
    .movie-image {
      width: 110px;
      height: 100%;
      border: 1px solid #fff;
    }
    .movie-content {
      flex: 1;
      margin-left: 25px;
      overflow: hidden;
      .movie-title {
        margin-bottom: 35px;
      }
      .movie-desc {
        overflow: hidden;
      }
    }

  }
}
