.root-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover;
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #11214f;
    line-height: 50px;
    padding-left: 10px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .main {
    padding-top: 50px;
    padding-top: calc(50px + constant(safe-area-inset-top));
    padding-top: calc(50px + env(safe-area-inset-top));
    padding-bottom: 60px;
    padding-bottom: calc(60px + constant(safe-area-inset-bottom));
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
    flex: 1;
    overflow: auto;
  }
  .bottom-tabs {
    background: #11214f;
    display: flex;
    position: fixed;
    bottom: 0;
    height: calc(60px + constant(safe-area-inset-bottom));
    height: calc(60px + env(safe-area-inset-bottom));
    width: 100%;
    .tab {
      flex: 1;
      text-align: center;
      line-height: 60px;

      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}
